<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.victory.dao.mapper.sms.SmsSetMapper">
  <resultMap id="BaseResultMap" type="com.chl.victory.dao.model.sms.SmsSetDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, modified_time, operator_id, item_id, num, valid_time, invalid_time, 
    status
  </sql>
  <sql id="conditionWithOrderAndPage">
    <include refid="condition"/>
    <include refid="order"/>
    <include refid="page"/>
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null"> id = #{id} </if>
      <if test="status != null">
        and status = #{status,jdbcType=BIT}
      </if>
      <if test="itemId != null">
        and item_id = #{itemId,jdbcType=BIGINT}
      </if>
      <if test="startValidTime != null">
        <![CDATA[
            and valid_time <= #{startValidTime,jdbcType=TIMESTAMP}
        ]]>
      </if>
      <if test="endValidTime != null">
        <![CDATA[
            and invalid_time >= #{endValidTime,jdbcType=TIMESTAMP}
        ]]>
      </if>
    </where>
  </sql>
  <sql id="order">
    <if test="orderColumn != null">
      order by #{orderColumn} <if test="desc"> desc </if>
    </if>
    <if test="orderColumn = null and orderedColumns != null and orderedColumns.size > 0">
      <trim suffixOverrides=",">
        <foreach collection="orderedColumns" index="index" item="orderedColumn" open=" order by " separator="," close="">
          #{item.orderColumn} <if test="item.desc"> desc </if>
        </foreach>
      </trim>
    </if>
  </sql>
  <sql id="page">
    <if test="rowStart != null and pageSize != null">
      limit #{rowStart},#{pageSize}
    </if>
  </sql>

  <select id="count" parameterType="com.chl.victory.dao.query.sms.SmsSetQuery" resultType="java.lang.Integer">
    select
    count(1)
    from sms_set
    <include refid="condition" />
  </select>

  <select id="select" parameterType="com.chl.victory.dao.query.sms.SmsSetQuery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_set
    <include refid="conditionWithOrderAndPage" />
  </select>

  <select id="selectOne" parameterType="com.chl.victory.dao.query.sms.SmsSetQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sms_set
    <include refid="condition" />
  </select>

  <delete id="delete" parameterType="com.chl.victory.dao.query.sms.SmsSetQuery">
    delete from sms_set
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.chl.victory.dao.model.sms.SmsSetDO">
    insert into sms_set (id, created_time, modified_time,
      operator_id, item_id, num, 
      valid_time, invalid_time, status
      )
    values (#{id,jdbcType=BIGINT}, now(), now(),
      #{operatorId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, 
      #{validTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}
      )
  </insert>

  <update id="update" parameterType="com.chl.victory.dao.model.sms.SmsSetDO">
    update sms_set
    <set>
        modified_time = now(),
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>