<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.victory.dao.mapper.order.OrderDeliverMapper">
  <resultMap id="BaseResultMap" type="com.chl.victory.dao.model.order.OrderDeliverDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="mobile" jdbcType="BIGINT" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="logistics_cp" jdbcType="VARCHAR" property="logisticsCp" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, modified_time, order_id, mobile, `name`, addr, `type`, logistics_cp,
    logistics_no, freight
  </sql>
  <sql id="conditionWithOrderAndPage">
    <include refid="condition"/>
    <include refid="order"/>
    <include refid="page"/>
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null"> id = #{id} </if>
      <if test="orderId != null">
        and order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="type != null">
        and `type` = #{type,jdbcType=TINYINT}
      </if>
    </where>
  </sql>
  <sql id="delCondition">
    <where>
      <if test="id != null"> id = #{id} </if>
        and order_id = #{orderId,jdbcType=BIGINT}
    </where>
  </sql>
  <sql id="order">
    <if test="orderColumn != null">
      order by #{orderColumn} <if test="desc"> desc </if>
    </if>
    <if test="orderColumn = null and orderedColumns != null and orderedColumns.size > 0">
      <trim suffixOverrides=",">
        <foreach collection="orderedColumns" index="index" item="orderedColumn" open=" order by " separator="," close="">
          #{item.orderColumn} <if test="item.desc"> desc </if>
        </foreach>
      </trim>
    </if>
  </sql>
  <sql id="page">
    <if test="rowStart != null and pageSize != null">
      limit #{rowStart},#{pageSize}
    </if>
  </sql>

  <select id="count" parameterType="com.chl.victory.dao.query.order.OrderDeliverQuery" resultType="java.lang.Integer">
    select
    count(1)
    from order_deliver
    <include refid="condition" />
  </select>


  <select id="select" parameterType="com.chl.victory.dao.query.order.OrderDeliverQuery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_deliver
    <include refid="conditionWithOrderAndPage" />
  </select>
  <select id="selectOne" parameterType="com.chl.victory.dao.query.order.OrderDeliverQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_deliver
    <include refid="condition" />
  </select>

  <delete id="delete" parameterType="com.chl.victory.dao.query.order.OrderDeliverQuery">
    delete from order_deliver
    <include refid="delCondition" />
  </delete>

  <insert id="insert" parameterType="com.chl.victory.dao.model.order.OrderDeliverDO">
    insert into order_deliver (id, created_time, modified_time,
      order_id, mobile, `name`,
      addr, `type`, logistics_cp,
      logistics_no, freight)
    values (#{id,jdbcType=BIGINT}, now(), now(),
      #{orderId,jdbcType=BIGINT}, #{mobile,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{addr,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{logisticsCp,jdbcType=VARCHAR}, 
      #{logisticsNo,jdbcType=VARCHAR}, #{freight,jdbcType=DECIMAL})
  </insert>

  <update id="update" parameterType="com.chl.victory.dao.model.order.OrderDeliverDO">
    update order_deliver
    <set>
        modified_time = now(),
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="logisticsCp != null">
        logistics_cp = #{logisticsCp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null">
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>