<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.victory.dao.mapper.item.SkuMapper">
  <resultMap id="BaseResultMap" type="com.chl.victory.dao.model.item.SkuDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="tag_price" jdbcType="DECIMAL" property="tagPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, modified_time, shop_id, operator_id, item_id, title, sub_title, 
    cost, tag_price, price, inventory, sales, imgs
  </sql>

  <sql id="conditionWithOrderAndPage">
    <include refid="condition"/>
    <include refid="order"/>
    <include refid="page"/>
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null"> id = #{id} </if>
      <if test="shopId != null">and shop_id = #{shopId,jdbcType=BIGINT} </if>
      <if test="itemId != null">and item_id = #{itemId,jdbcType=BIGINT} </if>
      <if test="title != null">
        and `title` like concat('%',#{title,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </sql>
  <sql id="order">
    <if test="orderColumn != null">
      order by #{orderColumn} <if test="desc"> desc </if>
    </if>
    <if test="orderColumn = null and orderedColumns != null and orderedColumns.size > 0">
      <trim suffixOverrides=",">
        <foreach collection="orderedColumns" index="index" item="orderedColumn" open=" order by " separator="," close="">
          #{item.orderColumn} <if test="item.desc"> desc </if>
        </foreach>
      </trim>
    </if>
  </sql>
  <sql id="page">
    <if test="rowStart != null and pageSize != null">
      limit #{rowStart},#{pageSize}
    </if>
  </sql>

  <select id="count" parameterType="com.chl.victory.dao.query.item.SkuQuery" resultType="java.lang.Integer">
    select
    count(1)
    from sku
    <include refid="condition" />
  </select>


  <select id="select" parameterType="com.chl.victory.dao.query.item.SkuQuery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku
    <include refid="conditionWithOrderAndPage" />
  </select>
  <select id="selectOne" parameterType="com.chl.victory.dao.query.item.SkuQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sku
    <include refid="condition" />
  </select>

  <delete id="delete" parameterType="com.chl.victory.dao.query.item.SkuQuery">
    delete from sku
    <include refid="condition" />
  </delete>

  <insert id="insert" parameterType="com.chl.victory.dao.model.item.SkuDO">
    insert into sku (id, created_time, modified_time,
      shop_id, operator_id, item_id, 
      title, sub_title, cost, 
      tag_price, price, inventory, 
      sales, imgs)
    values (#{id,jdbcType=BIGINT}, now(), now(),
      #{shopId,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, 
      #{tagPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{inventory,jdbcType=INTEGER}, 
      #{sales,jdbcType=INTEGER}, #{imgs,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.chl.victory.dao.model.item.SkuDO">
    update sku
    <set>
        modified_time = now(),
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="tagPrice != null">
        tag_price = #{tagPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="imgs != null">
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="deductInventory" parameterType="com.chl.victory.dao.model.item.SkuDO">
    <![CDATA[
    update sku
    set
        modified_time = now(),
        inventory = inventory - #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT} and shop_id = #{shopId,jdbcType=BIGINT} and item_id = #{itemId,jdbcType=BIGINT} and  inventory - #{inventory,jdbcType=INTEGER} >= 0
    ]]>
  </update>
  <select id="verifyDeductInventory" parameterType="com.chl.victory.dao.model.item.SkuDO" resultType="int">
    <![CDATA[
    select count(1) from sku
    where id = #{id,jdbcType=BIGINT} and shop_id = #{shopId,jdbcType=BIGINT} and item_id = #{itemId,jdbcType=BIGINT} and  inventory - #{inventory,jdbcType=INTEGER} >= 0
    ]]>
  </select>
  <update id="addInventory" parameterType="com.chl.victory.dao.model.item.SkuDO">
    <![CDATA[
    update sku
    set
        modified_time = now(),
        inventory = inventory + #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT} and shop_id = #{shopId,jdbcType=BIGINT} and item_id = #{itemId,jdbcType=BIGINT}
    ]]>
  </update>
  <update id="addSales" parameterType="com.chl.victory.dao.model.item.SkuDO">
    <![CDATA[
    update sku
    set
        modified_time = now(),
        sales = sales + #{sales,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT} and shop_id = #{shopId,jdbcType=BIGINT} and item_id = #{itemId,jdbcType=BIGINT}
    ]]>
  </update>
</mapper>