<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/item.css">

    <style>
        .other-info {
            width: 100%;
            display: inline-flex;
            margin-top: .5rem;
            padding-left: .5rem;
            font-size: .6rem
        }

        .other-info .col-20 {
            text-align: right;
        }

        .other-info .col-80 {
            padding-left: 1rem;
            color: gray;
        }

        .other-info .col-80 input {
            border: solid gray 1px;
            height: 1rem;
            font-size: .5rem !important;
        }
        .other-info .col-80 textarea {
            border: solid gray 1px;
            height: 2rem;
            font-size: .5rem !important;
        }
        .other-info .col-80 select {
            border: solid gray 1px;
            height: 1rem;
            font-size: .5rem !important;
        }

        .popup .list-block {
            font-size: .6rem
        }

        .popup .list-block input {
            font-size: .6rem
        }
    </style>

</head>
<body>

<div id="app" class="page-group">
    <template>
        <div class="page page-current">

            <header class="bar bar-nav">
                <a href="javascript:goHistroy()" class="float-left nav-history">
                    <span class="icon icon-left"></span>
                </a>
                <a href="javascript:window.location.reload()" class="float-right nav-refresh">
                    <span class="icon icon-refresh"></span>
                </a>
                <h1 class="title header-title">
                    <div class="header-shop float-left" style="display: flex;" @click="m_go_shop()">
                        <img :src="m_get_img(shop.img)" class="header-img"/>
                        <span><b>{{shop.name}}</b></span>
                    </div>
                    <div class="header-user float-right" style="display: flex;" @click="m_go_me()">
                        <img :src="user.img" class="header-img"/>
                        <span><b>{{user.name}}</b></span>
                    </div>
                </h1>
            </header>

            <nav class="bar bar-tab">
                <a class="tab-item active" @click="m_go_shop()">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">首页</span>
                </a>
                <a class="tab-item" @click="m_go_cart()">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">购物车</span>
                </a>
                <a class="tab-item" @click="m_go_me()">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav>

            <div class="content">
                <div class="page-index">
                    <div v-if="order.status">

                        <!-- 订单状态 -->
                        <div class="card card-receive-info">
                            <!--<div style="background-color: #FF0036;width:100%">订单状态</div>-->
                            <!--<div class="card-header">订单状态</div>-->
                            <div class="card-content" style="background-color: #FF0036;color: white;">
                                <div class="card-content-inner" v-if="order.statusDes">
                                    <div>
                                        <b style="margin-right: 1rem;">
                                            {{ order.statusDes }}
                                        </b>
                                        <span style="font-size:.5rem;margin-left:1rem;" v-if="order.payVO"> {{order.payVO.typeDesc}}</span>
                                        <span style="font-size:.5rem;margin-left:1rem;" v-if="order.status == 10 && order.payVO.type == 2">
                                                        待商家确认已付款
                                        </span>
                                    </div>
                                </div>
                                <div class="card-content-inner" v-else>
                                    状态错误
                                </div>
                            </div>
                        </div>

                        <div class="card card-receive-info">
                            <!--<div class="card-header">收货地址</div>-->
                            <div class="card-content">
                                <div class="card-content-inner" v-if="order.deliverVO" style="font-size: .6rem;">
                                    <div>
                                        <b style="float: left; margin-right: 1rem;">
                                            {{ order.deliverVO.name }}
                                        </b>
                                        <div>
                                            {{ order.deliverVO.mobile }}
                                        </div>
                                    </div>
                                    <div>
                                        {{ order.deliverVO.city + " " + order.deliverVO.address}}
                                    </div>
                                </div>
                                <div class="card-content-inner" v-else>
                                    缺少收货信息
                                </div>
                            </div>
                        </div>

                        <!-- 商品信息 -->
                        <div class="card card-item-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="list-block media-list"
                                         v-if="order.subOrderVOS && order.subOrderVOS.length > 0">
                                        <div class="row no-gutter">
                                            <div class="col-100">
                                                <div class="item-inner" style="padding-right: 0 !important">
                                                    <div class="row" v-for="item in order.subOrderVOS"
                                                         style="display: inline-flex;margin: 0;padding-left: .5rem;width: 100%;">
                                                        <div class="col-40">
                                                            <img class="buycar-item-img" :src="m_get_img(item.itemImg)"
                                                                 style="width: 100%"/>
                                                        </div>
                                                        <div class="col-60"
                                                             style="margin-left: .5rem;font-size: .6rem;">
                                                            <div class="buycar-item-title">
                                                                {{ item.itemTitle }}
                                                            </div>
                                                            <div class="buycar-item-sku-title" style="color: gray;">
                                                                {{ item.skuTitle }}
                                                            </div>
                                                            <div v-if="item.presell" class="buycar-item-sku-title" style="color: red;">
                                                                {{ m_presell_desc(item)}}
                                                            </div>
                                                            <div class="buycar-item-price"
                                                                 style="color: red;">
                                                                ￥<span>{{ item.price }}</span>
                                                            </div>
                                                            <div class="buycar-item-count">
                                                                x{{ item.count }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-receive-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="row">
                                        <div class="col-100">
                                            <div class="item-inner" style="font-size: .5rem;color: gray;">
                                                <div class="item-title-row">
                                                    <div class="item-title">
                                                        <div class="float-left">
                                                            配送方式
                                                        </div>
                                                        <div class="float-right" v-if="order.deliverVO">
                                                            {{ order.deliverVO.typeDesc }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" v-if="order.deliverVO && order.deliverVO.logisticsNo">
                                        <div class="col-100">
                                            <div class="item-inner" style="font-size: .5rem;color: gray;">
                                                <div class="item-title-row">
                                                    <div class="item-title">
                                                        <div class="float-left">
                                                            快递/配送信息
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.deliverVO.logisticsCp }}
                                                            {{ order.deliverVO.logisticsNo }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-fee-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="row">
                                        <div class="col-100">
                                            <div class="item-inner" style="font-size: .5rem;color: gray;">
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            商品总价
                                                        </div>
                                                        <div class="float-right">
                                                            ￥{{ order.totalFee }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" v-if="order.deliverVO">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            运费(快递)
                                                        </div>
                                                        <div class="float-right">
                                                            ￥{{ order.deliverVO.freight }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" v-if="order.activity"
                                                     v-for="item in order.activity">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            {{ item.desc }}
                                                        </div>
                                                        <div class="float-right">
                                                            -￥{{item.totalDis}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" v-if="order.coupons"
                                                     v-for="item in order.coupons">
                                                    <div class="item-title">
                                                        <div class="float-left">
                                                            {{ item.desc }}
                                                        </div>
                                                        <div class="float-right">
                                                            -￥{{ item.discount }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">
                                                        <div class="float-left">
                                                            订单总计
                                                        </div>
                                                        <div class="float-right">
                                                            ￥{{ order.realFee }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-refund-info" v-if="order.refundVO">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="row">
                                        <div class="col-100">
                                            <div class="item-inner" style="font-size: .5rem;color: gray;">
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            退款处理状态
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.refundVO.statusDesc }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            退款类型
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.refundVO.typeDesc }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" >
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            退款申请金额
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.refundVO.applyFee }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="">
                                                        <div class="float-left">
                                                            退款原因
                                                        </div>
                                                        <div class="float-right">
                                                            {{order.refundVO.cause}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" v-if="order.refundVO.process">
                                                    <div class="item-title">
                                                        <div class="float-left">
                                                            过程概览
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.refundVO.process }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-button-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <p  v-if="order.status == 30">
                                        <a @click="m_success_order"
                                                                    class="button button-success"
                                                                    style="background-color: #4cd964;font-size: .6rem;color: white">已收货</a>
                                    </p>
                                    <p  v-if="order.status == 10 && order.payVO.type != 2">
                                        <a @click="m_go_weixin_pay"
                                                                    class="button button-danger"
                                                                    style="background-color: red;font-size: .6rem;color: white">付款</a>
                                    </p>
                                    <p  v-if="order.canRefund">
                                        <a @click="m_show_refund"
                                                                    class="button button-light"
                                                                    style="background-color: #ccc;font-size: .6rem;color: white">退款</a>
                                    </p>
                                    <p>
                                        <a @click="m_del_order" class="button button-light"
                                          style="background-color: #ccc;font-size: .6rem;color: white">删除</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="card card-receive-info">
                            <div class="card-content">
                                <div class="card-content-inner" style="font-size: .5rem;color: gray;">
                                    <div class="row">
                                        <div class="col-100">
                                            <div class="item-inner" style="font-size: .5rem;color: gray;">
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="display: ruby;">
                                                        <div class="float-left">
                                                            订单编号
                                                        </div>
                                                        <div class="float-right">
                                                            {{ order.id }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;">
                                                    <div class="item-title" style="display: ruby;">
                                                        <div class="float-left">
                                                            创建时间
                                                        </div>
                                                        <div class="float-right">
                                                            {{order.createTime}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-title-row" style="display: grid;" v-if="order.payTime">
                                                    <div class="item-title" style="display: ruby;">
                                                        <div class="float-left">
                                                            付款时间
                                                        </div>
                                                        <div class="float-right">
                                                            {{order.payTime}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-else-if="loading">
                        <div class="card card-receive-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    查询订单……
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="!loading">
                        <div class="card card-receive-info">
                            <div class="card-content">
                                <div class="card-content-inner">
                                    订单不存在
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card  card-recommended-item-list">
                        <div v-if="recommended_item_list.length > 0">
                            <div class="card-header" style="font-size: .6rem;">
                                你可能还喜欢
                            </div>
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="list-block media-list">
                                        <div class="no-gutter">
                                            <div class="list-col-50 col-50 col-50-item" v-for="item in recommended_item_list">
                                                <a>
                                                    <div class="item-img" @click="m_go_item_detail(item.id)">
                                                        <img :src="m_get_img(item.img)">
                                                    </div>
                                                    <div class="item-outline">
                                                        <div>
                                                            <div class="item-outline-title">
                                                                {{item.title}}
                                                            </div>
                                                            <div class="item-outline-sale">
                                                                已卖{{item.salesTotal}}件
                                                            </div>
                                                            <div class="salestrategy-div"  v-if="item.strategyJson && item.strategyJson != ''" v-html="item.strategyTagHtml" >
                                                            </div>
                                                            <div v-if="item.existSku" class="item-exist-sku">
                                                                款式多
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="item-outline-price">
                                                                <span class="item-price-unit">￥</span>
                                                                <span>{{item.price}}</span>
                                                            </div>
                                                            <div class="float-right item-outline-buycar" align="center">
                                                                <img src="img/cart3.png" @click="m_add_cart_from_item_list(item.id, item.existSku)">
                                                            <!--<span class="icon icon-cart" style="color: white"
                                                                  @click="m_add_cart(item.id)"></span>-->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- 退款 -->
        <div class="popup popup-refund">
            <div class="content-block">

                <div class="card">
                    <div class="card-header">
                        <div class="popup-close float-left" style="display: inline-block;"
                             @click="m_cancel_refund">
                            <span class="icon icon-left"></span>
                        </div>
                        <div>
                            退货/退款
                        </div>
                        <div class="popup-close float-right" style="display: inline-block;"
                             @click="m_cancel_refund">
                            <span>X</span>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <div class="list-block media-list">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div>
                                                    <div style="margin-left: 1rem;">
                                                        <div class="row other-info">
                                                            <div class="col-20">
                                                                类型
                                                            </div>
                                                            <div class="col-80">
                                                                <select v-model="refund.type">
                                                                    <option value="1">退货退款</option>
                                                                    <option value="2">仅退款</option>
                                                                    <option value="3">换货</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row other-info">
                                                            <div class="col-20">
                                                                金额
                                                            </div>
                                                            <div class="col-80" style="display: flex;">
                                                                ￥<input type="number" style="width:2rem;" v-model="refund.applyFee"/>元
                                                                <span style="color:red;font-size:.4rem">最多退￥{{ order.realFee }}元</span>
                                                            </div>
                                                        </div>
                                                        <div class="row other-info">
                                                            <div class="col-20">
                                                                原因
                                                            </div>
                                                            <div class="col-80">
                                                                <textarea v-model="refund.cause" placeholder="退款原因，如质量"></textarea>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <br/>
                                                        <div class="row">
                                                            <a @click="m_apply_refund"
                                                               class="button button-danger"
                                                               style="background-color: red;font-size: .6rem;color: white">确认</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>


</body>


<script type='text/javascript' src='js/jquery-3.4.1.min.js' charset='utf-8'></script>
<script type="text/javascript">
    jQuery.noConflict()
</script>

<script src="js/vue.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/miniprogram.js"></script>
<script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.4.0.js' charset='utf-8'></script>
<script type="text/javascript" src="js/mixin_vue.js"></script>
<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type="text/javascript" src="https://g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js"
        charset="utf-8"></script>
<script type="text/javascript">
    $.showPreloader();
    //打开自动初始化页面的功能
    //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
    $.config = {
        autoInit: false,
        router: false
    }
</script>

<script type="text/javascript">

    var paramJson = genJsonFromUrlParams();
    if (paramJson.orderId == undefined) {
        $.toast("订单页缺少参数!", 5000)
        throw "订单页缺少参数"
    }
    var orderId = paramJson.orderId


    /*vue code*/
    var mixined_vue = Vue.extend({
        mixins: [common_mixin]
    });
    var app = new mixined_vue({
        el: '#app',
        data: {
            order: {},
            loading: true,
            applyRefunding: false,
            refund: {
                orderId: null,
                id: null,
                type: null,
                cause: "",
                applyFee: 0
            }
        },
        methods: {
            m_presell_desc : function(item){
                if (!ObjectCommonUtil.isEmpty(item.presell)) {
                    var presellJson = JsonUtil.getJson(item.presell)
                    return "预售发货日期:" + presellJson.sentTime;
                }
            },
            m_apply_refund: function(){
                if (this.applyRefunding) {
                    return false
                }
                if (this.refund.type == undefined) {
                    $.toast("请选择退款类型", 1000);
                    return false;
                }
                if (this.refund.cause == undefined || this.refund.cause.length < 1) {
                    $.toast("请填写退款原因", 1000)
                    return false
                }
                if (this.refund.applyFee == undefined) {
                    $.toast("请填写退款金额", 1000)
                    return false
                }
                if (this.refund.applyFee > this.order.realFee) {
                    $.toast("退款金额太多喽", 1000)
                    return false
                }
                this.applyRefunding = true
                this.refund.orderId = this.order.id
                AjaxUtil.post("/wmall/order/refundApply",this.refund,function (result) {
                    if (result.s) {
                        app.m_cancel_refund()
                        $.toast("已提交退款申请.", 1000)
                        window.location.reload()
                    }else {
                        $.toast(result.m, 1000)
                    }
                    app.applyRefunding = false;
                }, function (result) {
                    app.applyRefunding = false
                    $.toast(result.m, 5000)
                })
            },
            m_cancel_refund: function(){
                $.closeModal('.popup-refund');
            },
            m_show_refund: function(){
                $.popup('.popup-refund');
            },
            m_go_weixin_pay: function () {
                go_weixin_pay(orderId)
            },
            m_del_order: function () {
                del_order(orderId)
            },
            m_success_order: function () {
                success_order(orderId)
            }
        }
    })

    var go_weixin_pay = function (orderId) {
        $.showPreloader("跳转微信支付……");

        AjaxUtil.post("/wmall/wxpay/prePay", {orderId: orderId}, function (result) {

            if (result.d != undefined) {
                log(result.d);

                weixin.gotoPay(result.d);
            }
        }/*, function () {
            $.hidePreloader()
            $.toast("跳转失败，请前往订单详情页", 500)
        }*/);
    }

    var del_order = function (orderId) {
        AjaxUtil.post("/wmall/order/del", {orderId: orderId}, function (result) {
            if (result.s) {
                log(result.d)
                app.m_go_order_list()
            }
        });
    }
    var success_order = function (orderId) {
        AjaxUtil.post("/wmall/order/success", {orderId: orderId}, function (result) {
            if (result.s) {
                log(result.d)
                app.order.status = 40
                app.order.statusDes = "交易成功"
            }
        });
    }

    var query_order = function (orderId) {
        AjaxUtil.get("/wmall/order/detail", {orderId: orderId}, function (result) {
            app.loading = false

            if (!result.s) {
                $.toast(result.m, 5000)
                throw "订单页查询失败"
            }
            if (result.d != undefined) {
                app.order = JsonUtil.getJson(result.d);
                if (app.order.refundVO != undefined) {
                    app.refund = app.order.refundVO
                }
            }
        }, function (result) {
            app.loading = false
            $.toast(result.m, 5000)
        })
    }


    var callback = function () {
        query_order(orderId)
    }
    initPage(callback)


    $.init()
</script>

</html>
