<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/item.css">
    <link rel="stylesheet" href="css/coupons.css">

    <style>

        /*content*/
        .activity-swiper-container {
            margin: .3rem 0 .1rem 0;
            height: 10rem;
            padding-bottom: 0;
            height:150px;
        }

        .activity-swiper-img {
            width: 100%;
            height: 100%;
        }

        .category-card {
            text-align: center;
        }
        .category-card img {
            width: 90%;
            height: 90%;
            border-radius: .4rem;
        }
        .category-card .cate-item{
            line-height: 0.9;
            margin-bottom: 0.5rem !important;
        }

    </style>

</head>
<body>
<div id="app" class="page-group">
    <template>
        <div class="page page-current">

            <header class="bar bar-nav">
                <!--<a href="javascript:goHistroy()" class="float-left">
                    <span class="icon icon-left"></span>
                </a>-->
                <a href="javascript:window.location.reload()" class="float-right nav-refresh">
                    <span class="icon icon-refresh"></span>
                </a>
                <h1 class="title header-title">
                    <div v-if="shop.img" class="header-shop float-left" style="display: flex;" @click="m_go_shop()">
                        <img :src="m_get_img(shop.img, 1)" class="header-img"/>
                        <span><b>{{shop.name}}</b></span>
                    </div>
                    <div v-if="user.img" class="header-user float-right" style="display: flex;" @click="m_go_me()">
                        <img :src="user.img" class="header-img"/>
                        <span><b>{{user.name}}</b></span>
                    </div>
                </h1>
            </header>

            <nav class="bar bar-tab">
                <a class="tab-item active" href="#">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">首页</span>
                </a>
                <a class="tab-item" @click="m_go_cart()">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">购物车</span>
                </a>
                <a class="tab-item" @click="m_go_me()">
                    <span class="icon icon-me"></span>
                    <span class="tab-label">我的</span>
                </a>
            </nav>

            <div class="content">
                <div class="page-index">
                    <div class="card shop-about" style="margin-top:.5rem ;font-size: .4rem;line-height: .7rem;padding-left:.5rem;color:darkgray;">
                        关于 {{shop.name}}
                    </div>
                    <!-- 活动 走马灯 -->
                    <div v-if="activity_list.length > 0" class="swiper-container activity-swiper-container"
                         data-space-between=1 data-autoplay=1500 data-speed=1500>
                        <div class="swiper-wrapper" style="height: 100%">
                            <div class="swiper-slide" v-for="activity in activity_list"
                                 @click="m_go_activity(activity.id, activity.type)">
                                <img class="activity-swiper-img" :src="m_get_img(activity.img)" alt="">
                                <div style="position: relative;top: -10%;text-align: center;font-size: .6rem;font-weight: 600;">{{activity.name}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- 搜索 -->
                    <div class="searchbar" style="margin: 0.1rem 0 0 0;padding: 8px 0 0 0;height: 1.8rem;">
                        <a class="searchbar-cancel" @click="search = ''" style="font-size: .6rem">取消</a>
                        <div class="search-input">
                            <label class="icon icon-search" for="search"></label>
                            <input type="search" id='search' placeholder='输入商品关键字...' v-model='search'
                                   v-on:keyup.enter="m_search()" style="border-radius: 1rem;font-size:.6rem"/>
                        </div>
                    </div>

                    <!-- 经营类目 -->
                    <div class="card" v-if="cate_list.length > 0">
                        <!--<div class="card-header">经营类目</div>-->
                        <div class="card-content category-card">
                            <div class="card-content-inner" style="padding-bottom: 0">
                                <div class="row no-gutter">
                                    <div v-for="cate in cate_list" class="col-20 cate-item" @click="m_query_cate(cate)">
                                        <img :src="m_get_img(cate.img)"/>
                                        <span style="font-size: .5rem">{{cate.name}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 优惠券 走马灯 -->
                    <div class="card" v-if="couponList.length > 0">
                        <!--<div class="card-header">
									<span>
										优惠券
									</span>
                        </div>-->
                        <div class="card-content coupon-card">
                            <div class="card-content-inner" align="center" style="padding: 0">
                                <div class="swiper-container" style="padding-bottom: 0rem" data-space-between='10'
                                     data-autoplay=1500 data-speed=1000>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" v-for=" coupon in couponList ">
                                            <div class="coupons-container" @click="m_getting_coupon(coupon.id, coupon.got)">
                                                <div class="coupons-left-div">
                                                    <div>
                                                        优<br/>
                                                        惠<br/>
                                                        券
                                                    </div>
                                                </div>
                                                <div class="coupons-content-div">
                                                    <div>
                                                        <div class="coupons-discount">
                                                            ￥{{ coupon.discount }}
                                                        </div>
                                                        <div class="coupons-discount-desc">
                                                            {{ "满￥" + coupon.meet +"减￥" + coupon.discount}}
                                                        </div>
                                                    </div>
                                                    <div class="coupons-title">
                                                        {{ coupon.name }}
                                                    </div>
                                                    <div class="coupons-valid-time">
                                                        {{ coupon.validTime + " - " + coupon.invalidTime}}
                                                    </div>
                                                </div>
                                                <div class="coupons-right-div">
                                                    <div v-if="coupon.got">
                                                        已<br/>
                                                        领<br/>
                                                        取
                                                    </div>
                                                    <div v-else>
                                                        速<br/>
                                                        抢<br/>
                                                        券
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 推荐商品 -->
                    <div class="card card-recommended-item-list">
                        <div v-if="recommended_item_list.length > 0">
                            <div class="card-header">
                                <span>推荐商品</span>
                                <a v-if="recommended_item_list.length > 10" href="#" @click="m_go_item_list('type=1')">
                                    <span class="icon icon-right"></span>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="card-content-inner">
                                    <div class="list-block media-list">
                                        <div class="no-gutter">
                                            <div class="list-col-50 col-50 col-50-item" v-for="item in recommended_item_list">
                                                <a>
                                                    <div class="item-img" @click="m_go_item_detail(item.id)">
                                                        <img :src="m_get_img(item.img)">
                                                    </div>
                                                    <div class="item-outline">
                                                        <div>
                                                            <div class="item-outline-title">
                                                                {{item.title}}
                                                            </div>
                                                            <!--<div class="item-outline-sale">
                                                                近30日约{{item.saleUV}}+人购买
                                                            </div>-->
                                                            <div class="item-outline-sale">
                                                                已卖{{item.salesTotal}}件
                                                            </div>
                                                            <div class="salestrategy-div"  v-if="item.strategyJson && item.strategyJson != ''" v-html="item.strategyTagHtml" >
                                                            </div>
                                                            <div v-if="item.existSku" class="item-exist-sku">
                                                                款式多
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="item-outline-price">
                                                                <span class="item-price-unit">￥</span>
                                                                <span>{{item.price}}</span>
                                                            </div>
                                                            <div class="float-right item-outline-buycar" align="center" v-if="item.inventory > 0">
                                                                <img src="img/cart3.png" @click="m_add_cart_from_item_list(item.id, item.existSku)">
                                                                <!--<span class="icon icon-cart" style="color: white"
                                                                      @click="m_add_cart_from_item_list(item.id, item.existSku)"></span>-->
                                                            </div>
                                                            <div class="float-right item-outline-sellout" align="center" v-else>
                                                                <span style="color: white">售罄</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" v-if="hot_sale_item_list.length > 0">
                        <div class="card-header">
									<span>
										热卖商品
									</span>
                            <a v-if="hot_sale_item_list.length > 10" href="#" @click="m_go_item_list('type=0')">
                                <span class="icon icon-right"></span>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <div class="list-block media-list">
                                    <div class="no-gutter">
                                        <div class="list-col-50 col-50 col-50-item" v-for="item in hot_sale_item_list">
                                            <a @click="m_go_item_detail(item.id)">
                                                <div class="item-img">
                                                    <img :src="m_get_img(item.img)">
                                                </div>
                                                <div class="item-outline">
                                                    <div>
                                                        <div class="item-outline-title">
                                                            {{item.title}}
                                                        </div>
                                                        <!--<div class="item-outline-sale">
                                                            近30日约{{item.saleUV}}人购买
                                                        </div>-->
                                                        <div class="item-outline-sale">
                                                            已卖{{item.salesTotal}}件
                                                        </div>
                                                        <div class="salestrategy-div"  v-if="item.strategyJson && item.strategyJson != ''" v-html="item.strategyTagHtml" >
                                                        </div>
                                                        <div v-if="item.existSku" class="item-exist-sku">
                                                            款式多
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="item-outline-price">
                                                            <span class="item-price-unit">￥</span>
                                                            <span>{{item.price}}</span>
                                                        </div>
                                                        <div class="float-right item-outline-buycar" align="center" v-if="item.inventory > 0">
                                                            <img src="img/cart3.png" @click="m_add_cart_from_item_list(item.id, item.existSku)">
                                                            <!--<span class="icon icon-cart" style="color: white"
                                                                  @click="m_add_cart_from_item_list(item.id, item.existSku)"></span>-->
                                                        </div>
                                                        <div class="float-right item-outline-sellout" align="center" v-else>
                                                            <span style="color: white">售罄</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup popup-shop-about">
            <div class="content-block">

                <div class="card">
                    <div class="card-header">
                        <div class="popup-close float-left" style="display: inline-block;">
                            <span class="icon icon-left"></span>
                        </div>
                        <div>
                            店铺信息
                        </div>
                        <div class="popup-close float-right" style="display: inline-block;">
                            <span>X</span>
                        </div>
                    </div>
                    <div class="card-content" style="font-size:.8rem">
                        <div class="card-content-inner" v-if="shop.name">
                            <div class="list-block media-list">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div v-if="shop.img">
                                                    <img :src="m_get_img(shop.img)"/>
                                                </div>
                                                <div v-if="shop.name">
                                                     {{ shop.name}}
                                                </div>
                                                <div v-if="shop.mobile">
                                                     {{ shop.mobile}}
                                                </div>
                                                <div v-if="shop.address">
                                                     {{ shop.address}}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content-inner" v-else>
                            店铺信息查询中……
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </template>
</div>

</body>

<script type='text/javascript' src='js/jquery-3.4.1.min.js' charset='utf-8'></script>
<script type="text/javascript">
    jQuery.noConflict()
</script>
<script src="js/vue.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/miniprogram.js"></script>
<script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.4.0.js' charset='utf-8'></script>
<script type="text/javascript" src="js/mixin_vue.js"></script>
<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript">
    //$.showPreloader();
    //打开自动初始化页面的功能
    //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
    $.config = {
        autoInit: false,
        router: false
    }
</script>

<script type="text/javascript">
    /*vue code*/
    var mixined_vue = Vue.extend({
        mixins: [common_mixin]
    })
    var app = new mixined_vue({
        el: '#app',
        data: {
            search: '',
            /*热卖商品list*/
            hot_sale_item_list: [],
            activity_list: [],
            /*优惠券list*/
            couponList: [],
            /*类目list*/
            cate_list: []
        },
        methods: {
            /*点击类目*/
            m_query_cate: function (cate_object) {
                log(cate_object)
                var query = 'cateId=' + cate_object.id + "&cateName=" + cate_object.name
                this.m_go_item_list(query)
            },
            /*搜索*/
            m_search: function () {
                log(this.search)
                var query = 'itemName=' + this.search
                this.m_go_item_list(query)
            }
        },
        watch: {
            /*监听activity_list变化，以便生效对应走马灯*/
            activity_list: function () {
                log('activity_list change')
                setTimeout(function () {
                    $.init()
                }, 300);
            }
        }
    })

    /*sui code*/

    /*jQuery code*/
    $(document).on('click', '.shop-about', function () {
        $.popup('.popup-shop-about');
    });
    $(document).on('click', '.popup-shop-about .popup-close', function () {
        $.closeModal('.popup-shop-about');
    });

    /*通过接口从服务器获取数据。*/
    var getHotSaleItemList = function () {
        AjaxUtil.get("/wmall/item/list", {
            type: 1
        }, function (result) {
            app.hot_sale_item_list = JsonUtil.getJson(result.d);
            saleStrategyUtil.parseList(app.hot_sale_item_list)
        })
    }
    var getActivityList = function () {
        AjaxUtil.get("/wmall/shop/acts", {}, function (result) {
            app.activity_list = JsonUtil.getJson(result.d);
        })
    }
    var getCouponList = function () {
        AjaxUtil.get("/wmall/shop/coupons", {}, function (result) {
            app.couponList = JsonUtil.getJson(result.d);
        })
    }
    var getCateList = function () {
        AjaxUtil.get("/wmall/shop/cates", {}, function (result) {
            app.cate_list = result.d
        })
    }
    var callback = function () {
        setDocumentTitle()
        getActivityList()
        getCateList()
        getCouponList()
        getHotSaleItemList()
    }
    initPage(callback, true)
</script>
<script type="text/javascript">
    $.init()
</script>

</html>
