<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.victory.dao.mapper.merchant.MerchantShopMapper">
  <resultMap id="BaseResultMap" type="com.chl.victory.dao.model.merchant.MerchantShopDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, modified_time, operator_id, merchant_id, shop_id
  </sql>
  <sql id="conditionWithOrderAndPage">
    <include refid="condition"/>
    <include refid="order"/>
    <include refid="page"/>
  </sql>
  <sql id="condition">
    <where>
      <if test="id != null"> id = #{id} </if>
      <if test="merchantId != null">
        and merchant_id = #{merchantId,jdbcType=BIGINT}
      </if>
      <if test="shopId != null">
        and shop_id = #{shopId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <sql id="order">
    <if test="orderColumn != null">
      order by #{orderColumn} <if test="desc"> desc </if>
    </if>
    <if test="orderColumn = null and orderedColumns != null and orderedColumns.size > 0">
      <trim suffixOverrides=",">
        <foreach collection="orderedColumns" index="index" item="orderedColumn" open=" order by " separator="," close="">
          #{item.orderColumn} <if test="item.desc"> desc </if>
        </foreach>
      </trim>
    </if>
  </sql>
  <sql id="page">
    <if test="rowStart != null and pageSize != null">
      limit #{rowStart},#{pageSize}
    </if>
  </sql>

  <select id="count" parameterType="com.chl.victory.dao.query.merchant.MerchantShopQuery" resultType="java.lang.Integer">
    select
    count(1)
    from merchant_shop
    <include refid="condition" />
  </select>

  <select id="select" parameterType="com.chl.victory.dao.query.merchant.MerchantShopQuery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_shop
    <include refid="conditionWithOrderAndPage" />
  </select>

  <select id="selectOne" parameterType="com.chl.victory.dao.query.merchant.MerchantShopQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from merchant_shop
    <include refid="condition" />
  </select>

  <delete id="delete" parameterType="com.chl.victory.dao.query.merchant.MerchantShopQuery">
    delete from merchant_shop
    <include refid="condition" />
  </delete>

  <insert id="insert" parameterType="com.chl.victory.dao.model.merchant.MerchantShopDO">
    insert into merchant_shop (id, created_time, modified_time,
      operator_id, merchant_id, shop_id
      )
    values (#{id,jdbcType=BIGINT}, now(), now(),
      #{operatorId,jdbcType=BIGINT}, #{merchantId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}
      )
  </insert>
</mapper>