<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.victory.dao.mapper.merchant.ShopImgTotalMapper">
  <resultMap id="BaseResultMap" type="com.chl.victory.dao.model.merchant.ShopImgTotalDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="size" jdbcType="BIGINT" property="size" />
  </resultMap>

  <select id="totoalSize" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select sum(size) from shop_img_total where shop_id = #{shopId,jdbcType=BIGINT}
  </select>
</mapper>